{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    * {
      font-family: Comic Sans MS;
      color: black;
      text-align: center; 
      vertical-align: middle;
      font-size: 15px;
      background-image: url('https://cutewallpaper.org/28/desktop-backgrounds-free-desktop-wallpaper-muted/1958210184.jpg'); 
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: 100% 100%;
    }
    td, input {
      text-align: left; 
    }
    h1 {
        font-size: 35px;
    }
    form {
      margin: auto;
      width: 400px;
      padding: 1em;
      border: 2px solid rgb(87, 73, 73);
      border-radius: 1em;
      table-layout:fixed;
    }
    a, a.visited {
      color: rgb(27, 143, 237);
    }
</style>

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>

</div>

{% endblock content %}